@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Shippori+Mincho:wght@400;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&family=Turret+Road:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.contact-bubble {
  display: flex;
  flex-flow: column;
  align-items: center;
}
a {
  text-decoration: none;
}

.icon-bubble {
  background-color: #bdbdbd;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-media {
  margin-top: 6px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ff4081;
}

/* ------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}
html {
  scroll-behavior: smooth;
  font-size: 1.2rem;
  background: #f5f7fd;
}

h1 {
  font-weight: 600;
}

.primary-color {
  color: rgb(76, 39, 161);
}

.container {
  margin: 2rem 5rem;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.w-100 {
  width: 100%;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.button-row {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.mat-caption {
  color: rgb(46, 46, 46);
  font-size: 1rem;
}

.btn {
  padding: 10px 14px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  background-color: #8d8996;
}

.btn:hover {
  filter: brightness(0.6);
  box-shadow: 0 5px 10px rgba(26, 9, 68, 0.3);
}

.btn-primary {
  background-color: rgb(76, 39, 161);
}

.page-title {
  width: 100%;
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
}

.page-title hr {
  width: 100%;
  border-width: 2px;
  border-color: #11101d;
}

.page-title .title {
  margin-left: 12px;
  margin-right: 12px;
  display: inline-block;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 600;
}

.tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}

/* ------------------------------ Side Bar ------------------------ */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  margin-top: 16px;
}

.sidebar #circle-avatar {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 30px;
}

.sidebar #circle-avatar .logo_name {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
  text-align: center;
}

.sidebar #circle-avatar img {
  border-radius: 50%;
  width: 57px;
  transition: all 0.4s ease;
}

.sidebar.open #circle-avatar img {
  width: 200px;
  margin-bottom: 0.75rem;
}

.sidebar.open #circle-avatar .logo_name {
  opacity: 1;
  width: 100%;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  transition: all 0.4s ease;
  background: #11101d;
}
.sidebar li a:hover,
.sidebar li a.active:hover {
  background: #fff;
}
.sidebar li a.active {
  background: rgba(255, 255, 255, 0.212);
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li .profile-details a {
  display: inline;
  padding: 0px;
  color: #fff;
  background: none;
}

.sidebar li .profile-details a:hover {
  /* Do something */
  color: rgba(255, 255, 255, 0.5);
}

/* ------------------Main page------------------------ */
.page {
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .page {
  left: 250px;
  width: calc(100% - 250px);
  min-height: 100%;
}
.page .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

/* ---------------------------- Home ------------------------- */
#home-section {
  height: 100vh;
}

#home-section .btn-primary {
  margin-right: 5rem;
}

/* ---------------------------- About ------------------------- */
#about {
  height: 100vh;
}

#skills-section {
  margin-top: 1rem;
  display: flex;
  flex: 25%;
}

#skills-section h3 {
  margin-bottom: 10px;
}

#tech-stacks {
  flex: 50%;
}

#tech-stacks i {
  font-size: 32px;
}

#tech-stacks .icons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 32px;
}

#tech-stacks .icons ul li {
  display: inline;
  position: relative;
}

#tech-stacks icons ul li i:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

#tech-skills {
  flex: 50%;
}

/* -----------------------Footer ----------------------- */
footer {
  background-color: #2e2e2e;
  color: #ffffff;

  padding: 1rem 3rem;
}

/* ---------------------------- Snackbar --------------------- */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* 
------------------------------------ Media Queries --------------------------------------------------------
*/

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  body {
    width: 100vw;
    /* height: 100vh; */
    overflow-x: hidden;
  }
  .mobile .sidebar {
    width: 100vw;
    height: 78px;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
  }

  .sidebar #circle-avatar {
    margin: 0;
  }

  .mobile .sidebar #circle-avatar .logo_name {
    display: none;
  }

  .sidebar #menu-icon-item {
    display: none;
  }

  .mobile .sidebar .nav-list {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    height: auto;
    margin-top: 0;
  }

  .sidebar li a .links_name {
    display: none;
  }

  .sidebar li:hover .tooltip {
    display: none;
  }

  .sidebar li.profile {
    display: none;
  }

  .page {
    height: calc(100% - 78px);
    width: 100% !important;

    position: static;
  }

  /* #home-section {
        } */

  .container {
    margin: 14px 28px;
  }

  .page-content {
    margin-top: 50px;
  }

  #home-section .btn-primary {
    margin-right: 16px;
  }

  #about {
    height: 100%;
  }

  #skills-section {
    flex-flow: column;
  }

  .page-title .title {
    white-space: wrap;
    font-size: 1.2rem;
  }
}
