@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Shippori+Mincho:wght@400;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&family=Turret+Road:wght@400;700&display=swap");

body {
  padding: 0;
  margin: 0;
  color: #2e2e2e;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
}

footer {
  background-color: #2e2e2e;
  color: #ffffff;

  padding: 1rem 3rem;
}

/* ------------------ */
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 0rem 2rem;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.button-row {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.mat-caption {
  color: rgb(128, 128, 128);
}

.active {
  color: coral;
}

/* ---------------------------------- */

#circle-avatar,
img {
  width: 100px;
  border-radius: 50%;
}

#circle-avatar {
  margin-bottom: 2rem;
}

img {
  box-shadow: 0px 2px 8px #14255c;
}

h1 {
  font-weight: 500;
  font-size: xx-large;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 50vw;
  }
}

@media only screen and (min-width: 768px) {
}

/* ------------------------------------------ */
.contact-bubble {
  display: flex;
  flex-flow: column;
  align-items: center;
}
a {
  margin-top: 10px;
  color: #9c27b0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.icon-bubble {
  background-color: #bdbdbd;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-media {
  margin-top: 6px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ff4081;
}
